/*컨텐츠 박스 640-*/
.con_box{
    margin: auto;
    width: 100%;
}
.box_m{
    border: 1px solid silver;
    display: inline-block;
    width: 50%;
    padding-top:46.35%;
    float: left;
}
h6{
    font-size: 15px;
}
h5{
    font-size: 17px;
}
h4{
    font-size: 11px;
    font-style: italic;
}
