*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.box_m a{
    text-decoration: none;
}
#wrap{
    position: relative;
    top: 150px;
}
section ul li a {
    color: black;
    text-decoration: none;
}
/*컨텐츠 박스 640-1200*/

.box_m{
    position: relative;
    display: inline-block;
    width: 33.33333%;
    padding-top:46.35%;
    float: left;
    margin: -1px;
}
.box_m_acc{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top:46.35%;
    float: left;
    margin: -1px;
}

.box_d {
    position: absolute;
    display: inline-block;
    width: 100%; height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: border 0.3s linear;
}

.box_link{
    width: 100%; height: 100%;
}

.box_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box_d:hover{
    border: 18px solid transparent;
}

/*여기서부터 컨텐츠 박스 안 텍스트*/
.box_inner_text{
    color: white;
    background-color: black;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 1.6rem;
    padding: 3%;
}
#box_text_glass{
    top: 75%;
    height: 25%;
}
#box_text_tree{
    top: 78%;
    height: 22%;
}
#box_text_couple{
    top: 72%;
    height: 28%;
}
#box_text_back{
    top: 75%;
    height: 25%;
}
#box_text_leviev{
    top: 70%;
    height: 30%;
}
#box_text_cat{
    top: 78%;
    height: 22%;
}
.box_m h5{
    font-size: 30px;
}

