/*body{
        width: 1280px;
    }*/
    html,body{
    height:100%; margin:0; padding:0;
    }
    #container{
    min-height: 100%;
    position: relative;
    }

    footer{
        position: absolute;
        left: 0;
        right: 0;
        padding: 1rem;
        bottom: 0;
        width: 100%;
        height: 216px !important;
        border: 0px;
        background-color: #535353;
        color: white;
    }
    h3{
        font-family: impact;
        font-size: 48px;
        margin: 30px 0px 0px 40px;
    }
    footer div p{
        font-family: Franklin Gothic;
        font-size: 13px;
        margin: 0 0 10px 40px;
    }
    .info{
        font-size: 15px;
        font-family: Franklin Gothic;
        margin: 45px 0 10px 40px;
    }
    #abc{
        float: right;
        font-family: Franklin Gothic;
        font-size: 20px;
        padding: 0 15px;
        display: inline-block;

        position: relative;
        bottom: 180px;
    }
    #abc ul li{

        list-style: none;
        display: inline-block;
        padding: 0px 20px;

    }
    #about{
        right: 400px;
    }
    #project{
        right: 280px;
    }
    #contact{
        right: 160px;
    }
    #qna{
        right: 80px;
    }
    #abc ul li a{
        text-decoration: none;
        color: white;
    }
