@font-face{
    font-family:'Franklin Gothic';
}
/*body{
    background-image: url("../img/Activity/snow.jpg");
    background-color:rgb(255,255,255,0.2);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size:cover;
    background-position: center 40%;
}*/
body{
    font-family: franklin gothic;
}
/*아코디언*/
h2{
    padding:10px;
    width:100%; height:50px;
    position: relative;
    margin: 0 auto;
    font-size: 21px;
    font-family: Franklin Gothic;
}
#acc{
    border: 1px solid silver;
    position:absolute;
    width:100%;
    text-align: center;
    left:120px; top:120px;
    /*opacity: 0;*/
}
#acc div{
    margin: 0 auto;
    padding: 0px;
}
#acc ul{
    padding:0px; margin: 0px;
}
#acc ul li{
    display: block;
    font-family: Franklin Gothic;
    font-size: 15px;
    padding:0px; margin:30px 0px;
}


/*sub contents*/


