*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: Franklin Gothic;
}
.box_m a{
    text-decoration: none;
}
#wrap{
    position: relative;
    top: 150px;
}
section ul li a {
    color: black;
    text-decoration: none;
}
/*컨텐츠 박스 640-1200*/

.box_m{
    position: relative;
    display: inline-block;
    width: 33.33333%;
    padding-top:46.35%;
    float: left;
}
.box_m_acc{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top:46.35%;
    float: left;
}

.box_d {
    display: inline-block;
    width: 100%; height: 100%;
}

.box_link{
    width: 100%; height: 100%;
}

.box_img{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100%;
    height: 100%;
    transition: border 0.3s linear;
}
.box_img:hover{
    border: 18px solid transparent;
    border-image: white;
    border-image-slice: 1;
}

.box_text_glass{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 350px;
    width: 100%;
    height: 28%;
    text-align: center;
}
.box_text_tree{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top:78%;
    width: 100%;
    height: 22%;
    text-align: center;
}

.box_text_couple{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 72%;
    width: 100%;
    height: 28%;
    text-align: center;
}
.box_text_back{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 75%;
    width: 100%;
    height: 25%;
    text-align: center;
}
.box_text_leviev{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 70%;
    width: 100%;
    height: 30%;
    text-align: center;
}
.box_text_cat{
    color: white;
    background-color: black;
    position: absolute;
    left: 50px;
    top: 78%;
    width: 100%;
    height: 22%;
    text-align: center;
}
h6{
    font-size: 25px;
}
h5{
    font-size: 30px;
}
h4{
    font-size: 10px;
    font-style: italic;
}
