/*컨텐츠 박스 640-*/
.con_box{
    margin: auto;
    width: 100%;
}
.box_m{
    border: 1px solid silver;
    display: inline-block;
    width: 50%;
    padding-top:46.35%;
    float: left;
}
.box_m_acc{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top:46.35%;
    float: left;
}
.box_m h6{
    font-size: 12px;
}
.box_m h5{
    font-size: 14px;
}
.box_m h4{
    font-size: 11px;
    font-style: italic;
}



