/*컨텐츠 박스 640-1200*/
.con_box{
    margin: auto;
    width: 1050px;
}
.box_m_acc{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top:46.35%;
    float: left;
    margin: -1px;
}
.box_m h6{
    font-size: 25px;
}
.box_m h5{
    font-size: 30px;
}
.box_m h4{
    font-size: 12px;
    font-style: italic;
}


