body{
    width: 1280px;
}
h2{
    border: 1px solid silver;
    padding:10px;
    width:90%; height:10px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    font-size: 14px;
}
#acc{
    position:absolute;
    border:1px solid silver;
    width:80%;
    text-align: center;
    left:120px; top:600px;
}
#acc div{
    margin: 0 auto;
    border: 2px solid blue;
}
ul{
    padding:0px; margin: 0px;
}
ul li{
    list-style-type:none;
    display: inline-block;
    font-size: 14px;
    padding:0px; margin:0px 30px;
}

footer{
        clear: both;
        position: absolute;
        bottom: 0; top:700;
        width: 100%;
        height: 170px;
        border: 0px;
        background-color: #535353;
        color: white;
    }
    h3{
        font-family: impact;
        font-size: 40px;
        margin: 20px 0px 0px 40px;
    }
    p{
        font-family: Franklin Gothic;
        font-size: 13px;
        margin: 0 0 10px 40px;
    }
    .info{
        font-size: 15px;
        font-family: Franklin Gothic;
        margin: 25px 0 10px 40px;
    }
    #about, #project, #contact, #qna{
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 30px;
        font-family: Franklin Gothic;
        font-size: 20px;
    }
    #about{
        right: 400px;
    }
    #project{
        right: 280px;
    }
    #contact{
        right: 160px;
    }
    #qna{
        right: 80px;
    }
    footer div a{
        text-decoration: none;
        color: white;
    }
