h2{
    border: 1px solid silver;
    padding:10px;
    width:90%;
    position: relative;
    margin: 0 auto;
    background-color: white;
}
#acc{
    border:1px solid silver;
    width:80%;
    text-align: center;
}
div{
    margin: 0 auto;
    border: 2px solid blue;
}
