*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Franklin Gothic;
}
#contact{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    top: 150px;
}
h2{
    display: block;
    font-family: Copperplate Gothic;
    font-size: 40px;
    margin: 35px 20px 20px 20px;
    background: linear-gradient(to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
}
h4{
    display: block;
    margin: 5px 0 40px 0;
    color: grey;
}
fieldset{
    border: medium none !important;
    margin: 30px 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 80%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact textarea {
    max-width: 100%;
    height: 100px;
}
#send{
    cursor: pointer;
    width: 80%;
    border: none;
    background: linear-gradient(to top, rgb(93,44,211) 8%, rgb(29,266,217));
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    font-family: gothic;
}
#send:hover{
    box-shadow: 3px 3px 7px 0px grey;
}
