/*컨텐츠 박스 640-*/

#wrap{
    position: relative;
    top: 80px;
}
.boxmodel_nav_wrap .boxmodel_nav_title {
    text-align: center;
    font-size: 1.7rem;
    padding: 3% 0 5% 0;
    font-family: Copperplate Gothic;
    font-weight: 600;
}
.con_box{
    margin: auto;
    width: 100%;
    min-width: 300px;
}
.box_m{
    border: 1px solid silver;
    display: inline-block;
    width: 50%;
    padding-top:46.35%;
    float: left;
}

.box_inner_text{
    font-size: 0.9rem;
    padding: 0;
}
.box_inner_text span{
    font-size: 0.8rem;
}
.box_d:hover{
    border: 10px solid transparent;
/*    border-image: red;*/
/*
    border-image: linear-gradient(0deg,rgb(255,0,0),rgb(65,57,255));
    border-image-slice: 1;
*/
}

.li_map{
    border: 1px solid silver;
    display: none;
    width: 66.66666%;
    padding-top:46.35%;
    float: left;
}

.modal .modal_content{
    max-width: 350px;
    width: 80%;
    height: 600px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
}

.modal .modal_img_box {
    width: 100%;
    height: 33%;
    position: absolute;
}
.modal .modal_text_box {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    height: 33%;
    padding: 0 15px;
    line-height: 1.4;
}
.modal .modal_text_box2 {
    position: absolute;
    left: 0;
    top: 67%;
    width: 100%;
    height: 27%;
    padding: 20px;
    background-color:rgba(93,44,211,0.8);
}
.modal .modal_inner_img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.modal .modal_close_btn {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 0;
    top: 0;
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
}
.modal .modal_link_btn {
    position: absolute;
    width: 40%;
    height: 3%;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
    text-align: center;
    font-size: 0.7em;
}

.modal_text_box p:nth-of-type(1) {
    font-size: 0.9rem;
    font-weight: 600;
}

.modal_text_box p:nth-of-type(2) {
    font-size: 0.9rem;
    font-weight: 600;
}
.modal_text_box p:nth-of-type(3) {
    font-size: 0.9rem;
    font-weight: 600;
}
.modal_text_box p:nth-of-type(4) {
    font-size: 0.7rem;
    font-weight: 500;
}
.modal .modal_text_box2 .text_box2_con {
/*    padding-top: 4%;*/
    font-size: 0.9rem;
/*    background-color: aquamarine;*/
}
.modal .modal_text_box2 .text_box2_con_addr {
/*    padding-top: %;*/
    font-size: 0.9rem;
/*    background-color: aquamarine;*/
}
