
/*컨텐츠 박스 1200+*/

.con_box{
    margin: auto;
    width: 87%;
}

.modal .modal_content{
    width: 66.6666%;
    height: 650px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.box_inner_text{
    display: inline-block;
    font-size: 1.1rem;
}
.box_inner_text span{
    font-size: 0.9rem;
}
