/****************이하 box css***************/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#wrap{
    position: relative;
    top: 100px;
}
section ul li a {
    color: black;
    text-decoration: none;
}
/*컨텐츠 박스 640-1200*/

.box_m{
    position: relative;
    display: inline-block;
    width: 33.33333%;
    padding-top:46.35%;
    float: left;
    margin: -1px;
}

.box_d {
    display: inline-block;
    width: 100%; height: 100%;
}

.box_link{
    width: 100%; height: 100%;
}

.box_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    transition: border 0.3s linear;
}
.box_img:hover{
    border: 18px solid transparent;
/*    border-image: red;*/
/*
    border-image: linear-gradient(0deg,rgb(255,0,0),rgb(65,57,255));
    border-image-slice: 1;
*/
}
.box_text{
    color: white;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 50%;
    padding: 5%;
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 400
}
/*****************************박스 css 끝*****************************/
/**********************이하 map************************************/
.li_map{
    position: relative;
    display: inline-block;
    width: 66.66666%;
    padding-top:46.35%;
    float: left;
    margin: -1px -2px;
}
.box_map{
    display: inline-block;
    width: 100%; height: 100%;
}
.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**********************map 끝************************************/
/*****************************이하 modal*****************************/
.modal{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal .modal_content{
    width: 800px;
    height: 650px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
}

.modal .modal_img_box {
    width: 56.25%;
    height: 53.85%;
    position: absolute;
}
.modal .modal_text_box {
    position: absolute;
    left: 56.25%;
    width: 43.75%;
    height: 53.85%;
    padding: 2em 1em 0 2em;
/*    background-color: bisque;*/
    font-size: 1.2em;
    line-height: 2;
    overflow:scroll;
}
.modal .modal_text_box2 {
    position: absolute;
    left: 0;
    top: 58%;
    width: 100%;
    height: 30.77%;
    padding: 5% 3%;
    background-color:rgba(93,44,211,0.8);
}
.modal .modal_text_box2 .text_box2_con {
    position: relative;
    float: left;
    width: 27%;
    height: 100%;
    display: inline-block;
    text-align: center;
/*    padding-top: 4%;*/
    font-size: 1.2rem;
/*    background-color: aquamarine;*/
}
.modal .modal_text_box2 .text_box2_con_addr {
    position: relative;
    float: left;
    width: 45%;
    height: 100%;
    display: inline-block;
    text-align: center;
/*    padding-top: %;*/
    font-size: 1.2rem;
/*    background-color: aquamarine;*/
}
.modal .modal_inner_img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.modal .modal_close_btn {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 0;
    top: 0;
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
}
.modal .modal_link_btn {
    position: absolute;
    width: 40%;
    height: 4%;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
    text-align: center;
}
/*
.modal .map {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 600px;
}
*/
/*
#modal_map{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}
*/
.modal_text_box2 .modal_text_t {
    font-weight: 600;
    text-align: left;
}
.modal_text_box p:nth-of-type(1) {
    font-size: 1.1rem;
    font-weight: 600;
}

.modal_text_box p:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 600;
}
.modal_text_box p:nth-of-type(3) {
    font-size: 1.1rem;
    font-weight: 600;
}
.modal_text_box p:nth-of-type(4) {
    font-size: 0.9rem;
    font-weight: 600;
}

.modal .modal_layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
/*****************************modal 끝*****************************/
.boxmodel_nav_wrap {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:70%;
    max-width: 1200px;
}
.boxmodel_nav_wrap .boxmodel_nav_title {
    text-align: center;
    font-size: 2rem;
    padding: 3% 0 5% 0;
}
/*
.boxmodel_nav_list_div {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.box_nav_li {
    display: inline-block;
    width: 18%;
    margin: 0px;
    text-align: center;
}
*/
/*
.search input[type="submit"] {
    float: left;
    width: 36px; height: 36px;
    border-radius: 10px;
    display: inline-block;
    color: transparent;
    background: url("../img/search.png") no-repeat;
    background-size: contain;
}
.search input[type="text"] {
    margin-left: 20px;
    float: left;
    width: 240px; height: 30px;
    display: inline-block;
}*/
