/*컨텐츠 박스 640-*/

#wrap{
    position: relative;
    top: 10px;
}
.con_box{
    margin: auto;
    width: 100%;
}
.box_m{
    border: 1px solid silver;
    display: inline-block;
    width: 50%;
    padding-top:46.35%;
    float: left;
}

.li_map{
    border: 1px solid silver;
    display: none;
    width: 66.66666%;
    padding-top:46.35%;
    float: left;
}

.modal .modal_content{
    width: 80%;
    height: 800px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

.modal .modal_img_box {
    width: 100%;
    height: 33%;
    position: absolute;
}
.modal .modal_text_box {
    position: absolute;
    left: 0;
    top: 33%;
    width: 100%;
    height: 33%;
    padding: 20px;
/*    background-color: bisque;*/
    font-size: 1em;
    line-height: 1.7;
}
.modal .modal_text_box2 {
    position: absolute;
    left: 0;
    top: 66%;
    width: 100%;
    height: 27%;
    padding: 20px;
    background-color:rgba(93,44,211,0.8);
}
.modal .modal_inner_img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.modal .modal_close_btn {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 0;
    top: 0;
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
}
.modal .modal_link_btn {
    position: absolute;
    width: 40%;
    height: 3%;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
    text-align: center;
    font-size: 0.8em;
}
