*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

section ul li a {
    color: black;
    text-decoration: none;
}
/*컨텐츠 박스 640-1200*/

.con_box{
    margin: auto;
    width: 87%;
}
.box_m{
    border: 1px solid silver;
    display: inline-block;
    width: 33.33333%;
    padding-top:46.35%;
    float: left;
}

.li_map{
    border: 1px solid silver;
    display: inline-block;
    width: 66.66666%;
    padding-top:46.35%;
    float: left;
}
.box_d {
    display: inline-block;
    width: 100%; height: 100%;
}
.box_map{
    display: inline-block;
    width: 100%; height: 100%;
}
.box_link{
    width: 100%; height: 100%;
}


/*
.nav_over_wrap {
    box-sizing: 40%;
    width:50%;
    border: 1px solid silver;

}
.nav_over_wrap>div {
    text-align: center;
}
.nav_over_wrap ul {
    display: inline-block;
}
*/
/*
.search input[type="submit"] {
    float: left;
    width: 36px; height: 36px;
    border-radius: 10px;
    display: inline-block;
    color: transparent;
    background: url("../img/search.png") no-repeat;
    background-size: contain;
}
.search input[type="text"] {
    margin-left: 20px;
    float: left;
    width: 240px; height: 30px;
    display: inline-block;
}*/
