*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

section ul li a {
    color: black;
    text-decoration: none;
}
/*컨텐츠 박스 640-1200*/

.box_m{
    position: relative;
    border: 1px solid silver;
    display: inline-block;
    width: 33.33333%;
    padding-top:46.35%;
    float: left;
}

.li_map{
    position: relative;
    border: 1px solid silver;
    display: inline-block;
    width: 66.66666%;
    padding-top:46.35%;
    float: left;
}
.box_d {
    display: inline-block;
    width: 100%; height: 100%;
}
.box_map{
    display: inline-block;
    width: 100%; height: 100%;
}
.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box_link{
    width: 100%; height: 100%;
}

.box_img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.box_text{
    color: white;
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 50%;
}

.modal{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal .modal_content{
    width: 800px;
    height: 650px;
    padding: 0px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;

}
.modal .modal_img_box {
    width: 56.25%;
    height: 53.85%;
    position: absolute;
}
.modal .modal_text_box {
    position: absolute;
    left: 56.25%;
    width: 43.75%;
    height: 53.85%;
    padding: 2em 1em 0 2em;
    background-color: bisque;
    font-size: 1.5em;
    line-height: 2;
}
.modal .modal_text_box2 {
    position: absolute;
    left: 0;
    top: 53.85%;
    width: 100%;
    height: 30.77%;
    padding: 20px;
    background-color: aquamarine;
}
.modal .modal_inner_img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.modal .modal_close_btn {
    position: absolute;
    width: 50px;
    height: 30px;
    right: 0;
    top: 0;
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
}
.modal .modal_link_btn {
    position: absolute;
    width: 40%;
    height: 4%;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(93,44,211);
    color: white;
    border: 0;
    text-align: center;
}
/*
.modal .map {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 600px;
}
*/
/*
#modal_map{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
}
*/
.modal .modal_layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/*
.nav_over_wrap {
    box-sizing: 40%;
    width:50%;
    border: 1px solid silver;

}
.nav_over_wrap>div {
    text-align: center;
}
.nav_over_wrap ul {
    display: inline-block;
}
*/
/*
.search input[type="submit"] {
    float: left;
    width: 36px; height: 36px;
    border-radius: 10px;
    display: inline-block;
    color: transparent;
    background: url("../img/search.png") no-repeat;
    background-size: contain;
}
.search input[type="text"] {
    margin-left: 20px;
    float: left;
    width: 240px; height: 30px;
    display: inline-block;
}*/
