/*
각자 바디부분 콘테이너로 감싸주세요~!
<body><div id="container"> html코드들+footer </div></body>*/
    html,body{
    height:100%; margin:0; padding:0;
    }
    #container{
    min-height: 100%;
    position: relative;
    border: 0.1px solid rgb(255,255,255,0.0);
    }
    footer{

/*      아래 원본
        position: absolute;
        bottom: 0;
        width: 100%;
*/
        /*아래 정지모 수정 추가 부분*/
        position: relative;
        display: inline-block;
        width: 100%;
        top: 100px;
        /*이상 정지모 수정 추가 부분 끝*/

        height: 216px !important;
        border: 0px;
        background-color: #535353;
        color: white;
    }
    footer h3{
        font-family: impact;
        font-size: 48px;
        margin: 30px 0px 0px 40px;
    }
    footer div p{
        font-family: Franklin Gothic;
        font-size: 13px;
        margin: 0 0 10px 40px;
    }
    footer .info{
        font-size: 15px;
        font-family: Franklin Gothic;
        margin: 45px 0 10px 40px;
    }
    footer #abc{
        float: right;
        font-family: Franklin Gothic;
        font-size: 20px;
        padding: 0 15px;
        display: inline-block;
        position: relative;
        bottom: 180px;
    }
    footer ul li{

        list-style: none;
        display: inline-block;
        padding: 0px 20px;

    }
    footer #about{
        right: 400px;
    }
    footer #project{
        right: 280px;
    }
    footer #contact{
        right: 160px;
    }
    footer #qna{
        right: 80px;
    }
    footer ul li a{
        text-decoration: none;
        color: white;
    }
