*{
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: black;
}
#wrap{
    width: 100%;
    position: relative;
}
.logo{
    width: 500px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#logo{
    background: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
                font-family: impact;
    margin: 0;
    padding: 0;
    text-align: center;
}
#logo p{
    font-size: 100px;
}
#logo p:hover {
    box-shadow: 5px 5px 5px 5px  rgb(93,44,211);
}
.login_box {
    position: relative;
    width: 300px;
    height: 380px;
    border: 30px solid transparent;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    display: inline-block;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.login_id {
    width: 100%;
    height: 80px;
}
.login_pw {
    width: 100%;
    height: 80px;
}
.login_bt{
    background-color: white;
}
#login_submit {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 27px;
    border: 5px solid transparent;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
}
#signup_btn {
    position: absolute;
    text-decoration: none;
    color: black;
    border: 5px solid transparent;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 19px;
}
.name {
    position: relative;
    top: 30px;
    left: 10%;
}
.pw {
    position: relative;
    top: 30px;
    left: 10%;
}

.login_bt:hover{
    background-color: rgba(93,44,211,0.2);
}
