#line h2{
    font-size: 45px;
}
#intro{
    display: block;
    margin: 50px 0;
    font-size: 25px;
}
#story{
    display: block;
}
#story p{
    display: block;
    position: relative;
    width: 900px;
    left: 8%;
    font-size: 20px;
}
#video{
    font-size: 20px;
}
#video iframe{
    width: 700px;
    height: 400px;
}
