header>nav{
    display: none;
}
.wrap4 a, .wrap2 a, .wrap5 a, .wrap1 a, .wrap2 a{
    color: black;
    font-weight: 500;
}
#hr1{
    float :left;
    position: absolute;
    top: 140px;
}



html {
        width:100%; height: 100%; overflow-y: scroll;
    }
#wrap{

        }

        #nav1>h3{
            margin-top: 100px;
            font-size: 3rem;
        }


        .subdiv{
            width: 1500px;
            margin: 0px auto;
        }
        #slider{

            width: 80.1%;
            margin : 0px auto;
        }

        #nav1{
            width: 1200px;
            margin: 0px auto;
            text-align: center;

        }
        #art1 article, #art2 article{
            position: relative;
            display: inline-block;
            float: left;
            padding-top: 50%;
            width: 33.3%;
            z-index: 1;
            margin: 30px 0px;
        }
        #art1 img, #art2 img{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }

        #M1{
            position: relative;
            z-index: 0;
        }
        #M4 article, #M5 article, #M6 article{
            position: relative;
            display: inline-block;
            float: left;
            padding-top: 50%;
            width: 99.1%;
        }
        #M4 img, #M5 img, #M6 img{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }

        #art1 div, #art2 div{
            position: absolute;
            top : 80%;
            left: 50%;
            transform : translate(-50%, -50%);
            color: white;
            font-weight: bolder;
            font-size: 2em;
            text-align: center;
            width: 100%;
        }
        #M4 div{
            position: absolute;
            top : 50%;
            left: 20%;
            color: black;
            font-weight: bolder;
            font-size: 120%;
            transform : translate(-50%, -50%);
        }

     .carousel-caption{
           top:50%; transform: translateY(-30%)
      }
     .carousel-control-prev, .carousel-control-next{
           top:50%; transform: translateY(-0%)
      }
#poster1, #poster2, #poster3{
    clear: both;
    padding: 30px;
    margin: 0px auto;
    width: 80.1%;
    white-space: pre-line;
}
#poster1 img, #poster2 img, #poster3 img{
    display: block;
    margin: 0px auto;
    width: 80%;
}


    #art2, #M4, #M5, #M6, #poster1, #poster2, #poster3{
    display: none;
    }


@media all and (max-width:639px){
    .subdiv{
        width: 95%;
        margin: 0px auto;
    }
    #nav1{
        width:100%;
    }
    section{
        width:100%;
    }
    article>div{
        font-size: 150%;
    }
    #poster1, #poster2, #poster3{
        padding: 30px;
        width: 100%;
        font-size : 0.7em;
    }
    #art1 div, #art2 div{
        font-size: 1em;
    }
}
@media all and (min-width:640px) and (max-width:899px){
    .subdiv{
        width: 90%;
        margin: 0px auto;
    }

    #nav1{
        width:81%;
    }
    section{
        width:81%;
    }
    article>div{
        font-size: 200%;
    }

    #slider{
        width: 81%;
        margin : 0px auto;
    }
    #poster1, #poster2, #poster3{
        padding: 30px;
        width: 90%;
        font-size : 0.85em;
    }
        #art1 div, #art2 div{
        font-size: 1.2em;
    }
}
@media all and (min-width:900px) and (max-width:1499px){
    .subdiv{
        width: 90%;
        margin: 0px auto;
    }

    #nav1{
        width:90%;
    }
    section{
        width:90%;
    }
    article>div{
        font-size: 200%;
    }
    #slider{
        width: 90%;
        margin : 0px auto;
    }
    #poster1, #poster2, #poster3{
        padding: 30px;
        width: 90%;
        font-size : 0.85em;
    }
        #art1 div, #art2 div{
        font-size: 2em;
    }
}
@media all and (min-width:1500px){

}
