{margin: 0px;}

#wrap{

}
img{

    padding: 0px;
}
.subdiv{
    width: 1200px;

    margin: 0px auto;
}
section{
    position: relative;
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.kor{
        background-image: url(../img/Restorant/new_main01_01.jpg);
}
section div{
    position: absolute;
    top : 80%;
    left: 50%;
    transform : translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}
