{margin: 0px auto};


img{
    padding: 0px;
}
.subdiv{
    width: 1200px;
    margin: 0px auto;
}
nav{
    margin: 0px auto 50px auto;
    width : 1050px;
    text-align: center;
}
section{
    margin: 0px auto;
    width: 1050px;
}
article{
    position: relative;
    display: inline-block;
    float: left;
    padding-top: 50%;
    border: 1px solid silver;
    width: 32.5%;
    display: none;
}
img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

article div{
    position: absolute;
    top : 80%;
    left: 50%;
    transform : translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

@media all and (max-width:639px){
    .subdiv{
        width: 90%;
        margin: 0px auto;
    }
    nav{
        width:100%;
    }
    section{
        width:100%;
    }
    article{
    border: 1px solid silver;
    width: 49%;
    }
    article>div{
        font-size: 1.5rem;
    }
}
@media all and (min-width:640px) and (max-width:1199px){
    .subdiv{
        width: 90%;
        margin: 0px auto;
    }
    nav{
        width:100%;
    }
    section{
        width:100%;
    }
    article>div{
        font-size: 1.5rem;
    }

}
@media all and (min-width:1200px){
    .subdiv{
        width: 90%;
        margin: 0px auto;
    }
}
