 /*@font-face{
    font-family:franklin gothic;
    src: url("");
}*/
body{
    background-color:white;
    font-family:franklin gothic;
}
.sign{
    margin-bottom:150px;
}
#logo {
    background: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
                font-family: impact;
                font-size: 100px;
                transition: all .9s;
                text-align: center;
                width: 480px;
                margin: 0 auto;
                transition: all ease 2s 0s;
}
#logo :hover{
    box-shadow: 5px 5px 5px 5px rgb(93,44,211,0.8);
}
label{
    font-size:13px;
}
section{
    width:340px; height: 900px;
    margin: 0 auto;
    /*border: 2px solid blue;*/
}
#id{
    letter-spacing:5px;
    width:230px; height:30px;
    margin:0px 0px 30px 0px;
    background-color:gray;
    color:black;
    font-size:25px;
}
#id_check{
    position: absolute;
    top:340px;
    width:80px; height:35px;
    margin:0px 0px 30px 17px;
    background-color:white;
    font-size:13px;
    text-align: center;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    transform: translateX(-0%);
}
#pw{
    letter-spacing:5px;
    width:330px;
    height:30px;
    margin-bottom:30px;
    background-color:gray;
    color:black;
    font-size:25px;
}
#pw_check{
    letter-spacing:5px;
    width:330px; height:30px;
    margin-bottom:10px;
    background-color:gray;
    color:black;
    font-size:25px;
}
#pw_mismatched{
    width:330px; height:30px;
    margin-bottom:30px;
    font-size:15px;
    background-color: rgb(255,0,0,0.6);
    padding-top: 7px;
}
#name{
    letter-spacing:5px;
    width:330px; height:30px;
    margin-bottom:30px;
    font-size:25px;
}
#year{
    width:99px; height:30px;
    margin:0px 5px 30px 0px;
    font-size:13px;
}
select{
    width:100px; height:36px;
    margin:0px 5px 30px 5px;
    font-size:13px;
}
#day{
    width:99px; height:30px;
    margin:0px 0px 30px 5px;
    font-size:13px;
}
#gender{
    width: 337px; height: 30px;
    margin: 15px 0px 30px 0px;
    font-size: 16px;
}
#male, #female, #others{
    margin-left: 46px;
    vertical-align: middle;
}
#phone{
    letter-spacing:5px;
    width:215px; height:30px;
    margin:0px 5px 30px 0px;
    background-color:gray;
    color:black;
    font-size:20px;
}
#phone_check{
    position: absolute;
    top: 815px;
    width:100px; height:35px;
    margin:0px 10px;
    background-color:white;
    font-size:13px;
    text-align: center;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    transform: translateX(-0%);
}
#input_check{
    width:330px; height:30px;
    margin-bottom:50px;
    font-size:13px;
}
.btn_sign{
    position: relative;
    border: 2px solid silver;
    width:330px; height:50px;
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}
#signup_btn {
    position: absolute;
    text-decoration: none;
    color: black;
    border: 5px solid transparent;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 19px;
}
.btn_sign:hover{
    background-color: rgba(93,44,211,0.2);
}
/*.btn_check{
    position: relative;
    border: 2px solid silver;
    width:60px; height:50px;
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}*/
#id_check:hover{
    background-color: rgba(93,44,211,0.2);
}
#phone_check:hover{
    background-color: rgba(93,44,211,0.2);
}




