.sign{
    width:100%; position: relative;
}
label, input{
    font-size:30px;
}
section{
    width:400px; height: 900px;
    margin: 0 auto;
    /*border: 2px solid blue;*/
}
#id{
    letter-spacing:5px;
    width:270px; height:30px;
    margin:0px 0px 30px 0px;
    background-color:gray;
    color:black;
    font-size:25px;
}
#id_check{
    position: absolute;
    top:263px;
    width:120px; height:35px;
    margin:0px 0px 30px 5px;
    background-color:white;
    font-size:25px;
    text-align: center;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    transform: translateX(-0%);
}
#pw{
    letter-spacing:5px;
    width:400px;
    height:30px;
    margin-bottom:30px;
    background-color:gray;
    font-size:30px;
}
#pw_check{
    letter-spacing:5px;
    width:400px; height:30px;
    margin-bottom:10px;
    background-color:gray;
    font-size:30px;
}
#pw_mismatched{
    width:400px; height:30px;
    margin-bottom:30px;
    font-size:25px;
    background-color: rgb(255,0,0,0.6);
    padding-top: 7px;
}
#name{
    letter-spacing:5px;
    width:398px; height:30px;
    margin-bottom:30px;
    font-size:30px;
}
#year{
    width:120px; height:30px;
    margin:0px 5px 30px 0px;
    font-size:23px;
}
select{
    width:120px; height:36px;
    margin:0px 5px 30px 5px;
    font-size:23px;
}
#day{
    width:120px; height:30px;
    margin:0px 0px 30px 5px;
    font-size:23px;
}
#gender{
    width: 400px; height: 30px;
    margin: 15px 0px 30px 0px;
    font-size: 26px;
}
#male, #female, #others{
    margin-left: 35px;
    vertical-align: middle;
}
#phone{
    letter-spacing:5px;
    width:240px; height:30px;
    margin:0px 5px 30px 0px;
    background-color:gray;
    font-size:30px;
}
#phone_check{
    position: absolute;
    top: 850px;
    width:140px; height:35px;
    margin:0px 10px;
    background-color:white;
    font-size:22px;
    text-align: center;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    transform: translateX(-0%);
}
#input_check{
    width:400px; height:30px;
    font-size:23px;
}
.btn_sign{
    position: relative;
    width:400px; height:50px;
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}
#signup_btn {
    position: absolute;
    text-decoration: none;
    border: 5px solid transparent;
    border-image: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
    border-image-slice: 1;
    top:90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 19px;
}




