/*@font-face{
    font-family:franklin gothic;
    src: url("");
}*/
body{
    background-color:white;
    font-family:franklin gothic;
}
.sign{
    margin-bottom:150px;
}
#logo{
    background: linear-gradient( to bottom, rgb(93,44,211) 8%, rgb(29,266,217));
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
                font-family: impact;
                font-size: 60px;
    text-align: center;
}
label{
    font-size:13px;
}
section{
    width:340px; height: 900px;
    margin: 0 auto;
    /*border: 2px solid blue;*/
}
#id{
    letter-spacing:5px;
    width:230px; height:30px;
    margin:0px 5px 30px 0px;
    background-color:dimgrey;
    color:white;
    font-size:25px;
}
#id_check{
    width:80px; height:35px;
    margin:0px 0px 30px 5px;
    background-color:white;
    font-size:13px;
    text-align: center;
}
#pw{
    letter-spacing:5px;
    width:330px;
    height:30px;
    margin-bottom:30px;
    background-color:dimgrey;
    color:white;
    font-size:25px;
}
#pw_check{
    letter-spacing:5px;
    width:330px; height:30px;
    margin-bottom:10px;
    background-color:dimgrey;
    color:white;
    font-size:25px;
}
#pw_mismatched{
    border: 1px solid silver;
    width:330px; height:30px;
    margin-bottom:30px;
    font-size:15px;
    background-color: rgb(255,0,0,0.6);
    padding-top: 7px;
}
#name{
    letter-spacing:5px;
    width:330px; height:30px;
    margin-bottom:30px;
    font-size:25px;
}
#year{
    width:99px; height:30px;
    margin:0px 5px 30px 0px;
    font-size:13px;
}
select{
    width:100px; height:36px;
    margin:0px 5px 30px 5px;
    font-size:13px;
}
#day{
    width:99px; height:30px;
    margin:0px 0px 30px 5px;
    font-size:13px;
}
#gender{
    width: 337px; height: 30px;
    margin: 15px 0px 30px 0px;
    font-size: 16px;
}
#male, #female, #others{
    margin-left: 46px;
    vertical-align: middle;
}
#phone{
    letter-spacing:5px;
    width:215px; height:30px;
    margin:0px 5px 30px 0px;
    background-color:dimgrey;
    color:white;
    font-size:20px;
}
#phone_check{
    width:100px; height:35px;
    margin:0px 0px 30px 5px;
    background-color:white;
    font-size:13px;
    text-align: center;
}
#input_check{
    width:330px; height:30px;
    margin-bottom:50px;
    font-size:13px;
}
#div_sign{
    border: 2px solid silver;
    width:330px; height:50px;
    padding: 0px;
    /*margin: 0 auto;*/
    background: linear-gradient(to top, rgb(93,44,211,0.7) 8%, rgb(29,266,217,0.7));
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
    letter-spacing: 3px;
    box-shadow: 4px 4px silver;
}




